<!-- /snippets/search-bar.liquid -->
{% comment %}

  A snippet to include a search bar anywhere in your theme.
  Note we are using 'input-group' for the layout. Look under Forms > Input Groups for some demos.

  More information:
   - http://docs.shopify.com/themes/liquid-variables/search

  To return only products in results:
    - http://docs.shopify.com/manual/configuration/store-customization/return-only-product-in-storefront-search-results
    - Or manually add type=product to the search URL as a query parameter
    - Uncomment hidden input with value="product" below

{% endcomment %}

{% comment %}
  Set the default button style if not defined
{% endcomment %}
{% unless search_btn_style %}
  {% assign search_btn_style = 'btn--secondary' %}
{% endunless %}
<div class="search_form_main">
  <form action="{{ routes.search_url }}" method="get" class="input-group search-bar {{ search_bar_location }}" role="search">
    <input type="hidden" name="type" value="product">
    <span class="input-group-btn">
      <button type="submit" class="{{ search_btn_style }} icon-fallback-text" onclick="return validateSearchInput()">
        <!-- <span class="icon icon-search" aria-hidden="true"></span> -->
        <img class="search_main lazyload hs-lazyload hs-id-37d99080" data-src="https://cdn.shopify.com/s/files/1/0179/4388/7926/files/search_icon.svg?294" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
        <img class="search_toggle lazyload hs-lazyload hs-id-333f2705" data-src="https://cdn.shopify.com/s/files/1/0179/4388/7926/files/top_search_icon.svg?v=1585201544" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
        <img class="w_h_sea lazyload hs-lazyload hs-id-7822fe3d" data-src="https://cdn.shopify.com/s/files/1/0179/4388/7926/files/top_search_icon_orange.svg?v=1586937787" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
        <img class="search_load lazyload hs-lazyload hs-id-1b83d7b4" data-src="{{ 'seacrh_loader.gif' | asset_url }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
        <span class="fallback-text">{{ 'general.search.submit' | t }}</span>
      </button>
    </span>
    <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="Where are you travelling to" class="input-group-field" aria-label="{{ 'general.search.placeholder' | t }}" id="search_input">
    <input type="hidden" name="options[prefix]" value="last" /> 
    <img class="close_icon lazyload hs-lazyload hs-id-9fced84c" data-src="https://cdn.shopify.com/s/files/1/0179/4388/7926/files/cancel.png?v=1581596474" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
  </form>

  <div id="result_div"></div>
</div>

<script>
  function validateSearchInput() {
    var searchInput = document.getElementById("search_input").value;
    if (searchInput.trim() === "") {
      return false; // Prevent form submission
    }
  }
</script>

{% comment %}
<div class="search_banner mobile_search define_float">
  <form class="search" action="/search">
    <input type="submit" value="" />  
    <input type="text" placeholder="Try 'USA'" name="q" value="{{ search.terms | escape }}"  />
  </form>
</div>
{% endcomment %}