<!-- /templates/collection.liquid -->
 <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "CollectionPage",
      "image": "{{ collection.image | img_url: 'large' }}"
    }
  </script>
  <script src="{{ 'filter-options.js' | asset_url }}" defer="defer"></script>
  
<div class="continent_outer_main" id="CollectionSection" data-section-id="{{ section.id }}" data-section-type="collection-template" data-grid-type="{{ section.settings.collection_products_grid }}">
  {% assign collection_ref = collections[collection.metafields.custom_fields["parent_collection_url"]] %}

  {%- if collection_ref.title ==  'Asia' -%}
  	  {% assign col_img_url =  'asia_countries_hero_bg.png' | asset_url  -%}
  {%- elsif collection_ref.title ==  'NZ / Australia / Fiji' %}
  	  {% assign col_img_url =  'auscountries_hero_bg.png' | asset_url   -%}
  {%- elsif collection_ref.title ==  'Europe' %}
  	  {% assign col_img_url =  'europecountries_hero_bg.png' | asset_url   -%}
  {%- elsif collection_ref.title ==  'Middle East' %}
  	  {% assign col_img_url =  'mecountries_hero_bg.png' | asset_url   -%}
  {%- elsif collection_ref.title ==  'USA, Canada, Mexico' %}
  	  {% assign col_img_url =  'usacountries_hero_bg.png' | asset_url   -%}
  {%- elsif collection_ref.title ==  'South America' %}
  	  {% assign col_img_url =  'sacountries_hero_bg.png' | asset_url   -%}
  {%- elsif collection_ref.title ==  'United Kingdom' %}
  	  {% assign col_img_url =  'ukcountries_hero_bg.png' | asset_url   -%}
  {%- elsif collection_ref.title ==  'Africa' %}
  	  {% assign col_img_url =  'africacountries_hero_bg.png' | asset_url   -%}
  {%- endif -%}
  
  
  <header class="section-header text-center esim-header --collection-hero" style="background-color:#f6f6f6;">

    <hr class="hr--small">

    <div class="grid --collection --esim">
      <div class="grid__item page-hero collection--page">
        <div class="rte page-hero-inner">
            {% assign collectionSlugArray = "asia,malaysia,nepal,japan,hong-kong,macao,south-korea,cambodia,myanmar,singapore,taiwan,thailand,indonesia,laos,china,philippines,sri-lanka,pakistan,vietnam,india,europe,belgium,spain,germany,france,greece,switzerland,poland,netherlands,austria,slovakia,malta,russia,finland,ireland,norway,portugal,sweden,latvia,slovenia,hungary,macedonia,czech-republic,italy,croatia,cyprus,iceland,bulgaria,denmark,romania,israel,usa-canada-mexico,usa,guatemala,canada,mexico,united-kingdom,nz-australia-fiji,new-zealand,australia,fiji,middle-east,kuwait,qatar,palestine,uae-dubai,oman,egypt,turkey,south-america,costa-rica,panama,brazil,el-salvador,peru,chile,argentina,uruguay,colombia,nicaragua,africa,south-africa,brussels,scotland,wales,macau" | split: ',' %}
  			{% assign demonymArray = "Asian,Malaysian,Nepali,Japanese,Hongkonger,Macanese,Korean,Cambodian,Myanmar,Singaporean,Taiwanese,Thai,Indonesian,Laotian,Chinese,Filipina,Sri Lankan,Pakistani,Vietnamese,Indian,European,Belgian,Spaniard,Germans,French,Greeks,Swiss,Polish,Dutch,Austrian,Slovak,Maltese,Russian,Finnish,Irish,Norwegian,Portuguese,Swedish,Latvian,Slovenian,Hungarian,Macedonian,Czech,Italian,Croatian,Cypriot,Icelander,Bulgarian,Danes,Romanian,Israeli,American Canadian Mexican,American,Guatemalan,Canadian,Mexican,British,NZ Australian Fijian,NZ,Australian,Fijian,Middle Eastern,Kuwaitis,Qatari,Palestinian,Dubaite,Omani,Egyptian,Turkish,South American,Costa Rican,Panamanian,Brazilian,Salvadoran,Peruvian,Chilean,Argentinian,Uruguayan,Colombian,Nicaraguan,African,South African,Brusselaar,Scottish Scots,Welsh,Macau" | split: ',' %}
			{% assign collectionHandle = collection.handle | remove: "-sim-card" %}
 
             <span class="region--title">{{ collection.title }} </span>
                <h1 class="header-destination"><strong>Stay Connected Across <span class="region--title-sim">{{ collection.title }}</span>  – Avoid Roaming Fees!</strong></h1>
               <p>Get a {{ collection.title }} SIM Card or a {{ collection.title }} eSIM for your travels. Avoid high roaming fees and enjoy connectivity with our {{ collection.title }} SIM cards. Perfect for Aussie travellers!</p>

              
               <div class="collection--accross">
                  <p class="review--text">Trusted by Travellers: Join thousands of satisfied customers.<br>Over 19,000+ 
                     <svg width="88" height="18" viewBox="0 0 88 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.00247 13.5L3.71095 16.2812L4.72154 10.3906L0.440612 6.21885L6.35671 5.35942L9.00247 0L11.6482 5.35942L17.5643 6.21885L13.2834 10.3906L14.294 16.2812L9.00247 13.5Z" fill="#ff7a00"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M26.0025 13.5L20.711 16.2812L21.7215 10.3906L17.4406 6.21885L23.3567 5.35942L26.0025 0L28.6482 5.35942L34.5643 6.21885L30.2834 10.3906L31.294 16.2812L26.0025 13.5Z" fill="#ff7a00"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M43.0025 13.5L37.711 16.2812L38.7215 10.3906L34.4406 6.21885L40.3567 5.35942L43.0025 0L45.6482 5.35942L51.5643 6.21885L47.2834 10.3906L48.294 16.2812L43.0025 13.5Z" fill="#ff7a00"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M61.0025 13.5L55.711 16.2812L56.7215 10.3906L52.4406 6.21885L58.3567 5.35942L61.0025 0L63.6482 5.35942L69.5643 6.21885L65.2834 10.3906L66.294 16.2812L61.0025 13.5Z" fill="#ff7a00"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M78.8323 13.5L73.5408 16.2812L74.5514 10.3906L70.2704 6.21885L76.1865 5.35942L78.8323 0L81.4781 5.35942L87.3942 6.21885L83.1132 10.3906L84.1238 16.2812L78.8323 13.5Z" fill="#ff7a00"/>
                     </svg>
                     Reviews across</p>
                     <div class="slider_rating_logos" bis_skin_checked="1">
                        <div class="slider_logo_main" bis_skin_checked="1"><img alt="google-logo" class="lazyload hs-lazyload hs-id-4e77c9dd" data-src="{{ 'google-logo.svg' | asset_url }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/></div>
                        <div class="slider_logo_main" style=" margin-top: -10px;" bis_skin_checked="1"><img alt="facebook-logo" class="lazyload hs-lazyload hs-id-ab856b49" data-src="{{ 'facebook-logo.svg' | asset_url }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/></div>
                        <div class="slider_logo_main" bis_skin_checked="1"><img alt="stamped-logo" class="lazyload hs-lazyload hs-id-54d80fab" data-src="{{ 'stamped-logo.svg' | asset_url }}" src=""/></div>
                     </div>
                  </div>
            <div class="custom-carousel" id="stamped-reviews-widget" data-widget-type="carousel" data-auto-play="true" data-auto-play-speed="3" data-limit-words="15" data-min-rating="4" data-fill-empty="true" data-random="true"></div>
            </div>
        <div class="page-hero-inner-image" style="background-image:url({{ col_img_url }});height: 500px;border-radius: 10px;background-position: center;">

        </div>
        
      </div>
    </div>

      
    <div class="grid--full collection-sorting{% if section.settings.collection_sort_enable %} collection-sorting--enabled{% endif %}">
      {%- if section.settings.collection_sort_enable -%}
        {%- include 'collection-sorting' -%}
      {%- endif -%}
    </div>

    {%- if section.settings.collection_tags_enable -%}
      {%- if collection.all_tags.size > 0 -%}
        {%- if section.settings.collection_sort_enable -%}
          <hr class="hr--small hr--clear">
        {%- endif -%}
        <ul class="tags tags--collection inline-list">
          {% comment %}
            Used for the catalog collection (/collections/all) and product collections (collections/{collection.handle})
          {% endcomment %}
          <li{% unless current_tags %} class="tag--active"{% endunless %}>
            <a href="{% if collection.url == blank %}{{ routes.all_products_collection_url }}{% else %}{{ collection.url }}{% endif %}">
              {{ 'collections.general.all_of_collection' | t }}
            </a>
          </li>

          {%- for tag in collection.all_tags -%}
            {%- if current_tags contains tag -%}
              <li class="tag--active">
                {{ tag | link_to_remove_tag: tag }}
              </li>
            {%- else -%}
              <li>
                {% comment %}
                  Use link_to_add_tag if you want to allow filtering
                  by multiple tags
                {% endcomment %}
                {{ tag | link_to_tag: tag }}
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      {%- endif -%}
    {%- endif -%}

    {%- if section.settings.collection_tags_enable -%}
      <hr class="hr--small hr--clear">
    {%- endif -%}
  </header>
{% render 'breadcrumbs' %}
  
  <!-- TABS -->
  <div class="esim-collection-section">
    <div class="esim-tabs-section collections-tab">
       <div class="custom-tabs">
          <div id="nav-tab-menu">
             <div class="trigger-spec-tab"></div>
          </div>
          <div id="nav-tab">
             <span class="trigger-tab" data-target="#all-tab">ALL</span>
             <span class="trigger-tab" data-target="#physical-tab">PHYSICAL SIM</span>
             <span class="trigger-tab" data-target="#esim-tab">eSIM</span>
          </div>
       </div>
       <div class="sort-options pdp-sim-tabs">
        <label>Filter </label>
        <select id="sort-select" onchange="sortProducts(this.value)">
          <option value="" disabled selected>Sort by</option>
          <option value="default">Default</option>
          <option value="price-low-to-high">Price, Low to High</option>
          <option value="price-high-to-low">Price, High to Low</option>
          <option value="title-a-z">Title, A - Z</option>
          <option value="title-z-a">Title, Z - A</option>
        </select>
      </div>
       <div id="main-tab" class="esim-collection">
          <div class="targets-tab">
             <div class="target-tab" id="all-tab">
                <div class="esim-collection">
                   {%- if collection.title contains 'NZ' -%}
                   {%- assign multi_country_tag = 'oceania_multi_country' -%}
                   {%- elsif collection.title contains 'USA' -%}
                   {%- assign multi_country_tag = 'north_america_multi_country' -%}
                   {%- elsif collection.title contains 'Middle' -%}
                   {%- assign multi_country_tag = 'middleeast_multi_country' -%}
                   {%- elsif collection.title contains 'United' -%}
                   {%- assign multi_country_tag = 'uk_multi_country' -%}
                   {%- else -%}
                   {%- assign multi_country_tag = collection.title | replace: " ", "_" | downcase | append: '_multi_country' -%}
                   {%- endif -%}
                   {%- assign target_collection = collections[collection.handle] -%}
                   <div class="grid-uniform continent_sim_cards">
                      {%- assign grid_item_width = 'medium--one-half large--one-third' -%}
                      <div class="carousel_main">
                         <div class="carousel" id="carousel_one">
                            {%- for product in target_collection.products -%}
                            {%- include 'product-grid-item' -%}
                            {%- endfor -%}
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="target-tab" id="physical-tab">
                <div class="esim-collection">
                   {%- if collection.title contains 'NZ' -%}
                   {%- assign multi_country_tag = 'oceania_multi_country' -%}
                   {%- elsif collection.title contains 'USA' -%}
                   {%- assign multi_country_tag = 'north_america_multi_country' -%}
                   {%- elsif collection.title contains 'Middle' -%}
                   {%- assign multi_country_tag = 'middleeast_multi_country' -%}
                   {%- elsif collection.title contains 'United' -%}
                   {%- assign multi_country_tag = 'uk_multi_country' -%}
                   {%- else -%}
                   {%- assign multi_country_tag = collection.title | replace: " ", "_" | downcase | append: '_multi_country' -%}
                   {%- endif -%}
                   {%- assign target_collection = collections[collection.handle] -%}
                   <div class="grid-uniform continent_sim_cards">
                      {%- assign grid_item_width = 'medium--one-half large--one-third' -%}
                      <div class="carousel_main">
                         <div class="carousel" id="carousel_one">
                            {%- capture esim_products_found -%}
                            {%- for product in target_collection.products -%}
                            {%- unless product.title contains 'eSIM' -%}
                            {%- include 'product-grid-item' -%}
                            {%- else -%}
                            {% continue %}
                            {%- endunless -%}
                            {%- endfor -%}
                            {%- endcapture -%}
                            {%- if esim_products_found == "" -%}
                            <p class="empty-products">No physical sim products found.</p>
                            {%- else -%}
                            {{ esim_products_found }}
                            {%- endif -%}
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="target-tab" id="esim-tab">
                <div class="esim-collection">
                   {%- if collection.title contains 'NZ' -%}
                   {%- assign multi_country_tag = 'oceania_multi_country' -%}
                   {%- elsif collection.title contains 'USA' -%}
                   {%- assign multi_country_tag = 'north_america_multi_country' -%}
                   {%- elsif collection.title contains 'Middle' -%}
                   {%- assign multi_country_tag = 'middleeast_multi_country' -%}
                   {%- elsif collection.title contains 'United' -%}
                   {%- assign multi_country_tag = 'uk_multi_country' -%}
                   {%- else -%}
                   {%- assign multi_country_tag = collection.title | replace: " ", "_" | downcase | append: '_multi_country' -%}
                   {%- endif -%}
                   {%- assign target_collection = collections[collection.handle] -%}
                   <div class="grid-uniform continent_sim_cards">
                      {%- assign grid_item_width = 'medium--one-half large--one-third' -%}
                      <div class="carousel_main">
                         <div class="carousel" id="carousel_one">
                            {%- assign has_esim_products = false -%}
                            {%- for product in target_collection.products -%}
                            {%- if product.title contains 'eSIM' -%}
                            {%- include 'product-grid-item' -%}
                            {%- assign has_esim_products = true -%}
                            {%- endif -%}
                            {%- endfor -%}
                            {%- if has_esim_products == false -%}
                            <p class="empty-products">No eSIM products available.</p>
                            {%- endif -%}
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- END TABS -->



  	{%- assign blog_tag1 = collection.title | replace: " ", "-" | replace: ",", "" | replace: "/-", "" | downcase | prepend: 'blog-' -%}
	{%- assign blog_tag2 = collection.title | replace: " ", "-" | replace: ",", "" | replace: "/-", "" | capitalize  | prepend: 'blog-' -%}
	{%- assign count = 1 -%}
  

{% for article in blogs.news.articles %}
      {% if article.tags contains blog_tag1 or article.tags contains blog_tag2 %} 
    		{% if count == 1 %}
<div class="related_img">
    <div class="related_inner">

    			<h2>Related Blog</h2>
    		{% endif %}
         <!-- first image in blog post content -->
    	    {% if count < 4 %}
                <div class="related_dtl_main">
                  <div class="related_image">
                      <a href="{{ article.url }}" class="text-colored">

                        <!-- if featured image display that -->
                        {% if article.image %}
                        	<div class="hero-image-new"><img class="lazyload hs-lazyload hs-id-d2c7540e" data-src="{{ article | img_url: 'large'  , crop: 'center', scale: 2 }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/></div> 
                        {% else %}
                             <div class="hero-image-new"><img src="//cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_1024x.gif"></div>     
                        {% endif %}
                      </a>
                  </div>
                  <!-- /first image in blog post content -->
                  <div class="related_content">
                    <h3><a href="{{ article.url }}">Article: {{ article.title }}</a></h3>
                    <p>{{ article.content | strip_html | truncate: 300}}</p>
                  </div>
                </div> 
    		 {% endif %}
    		{% if count == 4 %}
                <div class="text-center blog_view_more">
                    <a href="/pages/blog" class="relink"><b>View More</b> <img class="lazyload hs-lazyload hs-id-ce5947c2" data-src="https://cdn.shopify.com/s/files/1/0179/4388/7926/files/sub_menu_arrow.svg?5503" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/></a>
                </div>
    		{% endif %}

          {% assign count = count | plus: 1 %}
 		{% endif %}
{% endfor %}
{% if count > 1 %}
  </div>
</div>
{% endif %}
{% if collection.description != blank %}
  <div class="collection_description">
    {{ collection.description }}
  </div> 
{% else %}
  {% assign collection_ref = collections[collection.metafields.custom_fields["parent_collection_url"]] %}
  {% if collection_ref.description != blank %}
    <div class="collection_description">
      {{ collection_ref.description }}
    </div> 
  {% endif %}
{% endif %}

<div class="sub-categories-sec">
    
    {%- assign child_collection_links = linklists[collection.handle].links -%}
    {%- if child_collection_links != blank -%}
        <h3>Shop By Popular Destinations in {{ collection.title }}</h3>
        <nav>
          <ul>
            {%- for link in child_collection_links -%}
              <li>
                <a href="{{ link.url}}">{{ link.title | escape }}</a>
              </li>
            {%- endfor -%}
          </ul>
        </nav>
    {%- endif -%}
  </div>
{% include 'collection-faq' %}


{% schema %}
{
  "name": {
    "da": "Kollektionssider",
    "de": "Kategorieseiten",
    "en": "Collection pages",
    "es": "Páginas de colección",
    "fi": "Kokoelman sivut",
    "fr": "Pages de collection",
    "hi": "कलेक्शन पेज",
    "it": "Pagine delle collezioni",
    "ja": "コレクションページ",
    "ko": "컬렉션 페이지",
    "ms": "Halaman koleksi",
    "nb": "Samlingssider",
    "nl": "Collectiepagina's",
    "pt-BR": "Páginas de Coleções",
    "pt-PT": "Páginas de Coleções",
    "sv": "Produktseriesidor",
    "th": "หน้าคอลเลกชัน",
    "zh-CN": "产品系列页面",
    "zh-TW": "商品系列頁面"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "label": {
        "da": "Vis kollektionsbillede",
        "de": "Kategorie-Foto anzeigen",
        "en": "Show collection image",
        "es": "Mostrar imagen de la colección",
        "fi": "Näytä kokoelman kuva",
        "fr": "Afficher l'image de la collection",
        "hi": "कलेक्शन इमेज दिखाएं",
        "it": "Mostra immagine collezione",
        "ja": "コレクションの画像を表示する",
        "ko": "컬렉션 이미지 표시",
        "ms": "Tunjukkan imej koleksi",
        "nb": "Vis samlingsbilde",
        "nl": "Collectieafbeelding weergeven",
        "pt-BR": "Exibir imagem da coleção",
        "pt-PT": "Mostrar imagem da coleção",
        "sv": "Visa produktseriebilder",
        "th": "แสดงรูปภาพคอลเลกชัน",
        "zh-CN": "显示产品系列图片",
        "zh-TW": "顯示商品系列圖片"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "collection_sort_enable",
      "label": {
        "da": "Aktivér sortering af kollektioner",
        "de": "Kategoriesortierung aktivieren",
        "en": "Enable collection sorting",
        "es": "Habilitar la la función ordenar colecciones",
        "fi": "Ota kokoelman lajittelu käyttöön",
        "fr": "Activer le tri de la collection",
        "hi": "कलेक्शन क्रमबद्ध करना सक्षम करें",
        "it": "Abilita ordinamento collezione",
        "ja": "コレクションの並べ替えを有効にする",
        "ko": "컬렉션 정렬 사용",
        "ms": "Dayakan penyusunan koleksi",
        "nb": "Aktiver sortering av samlinger",
        "nl": "Sorteren op collectie inschakelen",
        "pt-BR": "Habilitar a ordenação de coleções",
        "pt-PT": "Ativar ordenação de coleção",
        "sv": "Aktivera produktseriesortering",
        "th": "เปิดใช้การเรียงลำดับคอลเลกชัน",
        "zh-CN": "启用产品系列排序",
        "zh-TW": "啟用商品系列排序功能"
      }
    },
    {
      "type": "checkbox",
      "id": "collection_tags_enable",
      "label": {
        "da": "Aktivér tagfiltrering",
        "de": "Tag-Filtern erlauben",
        "en": "Enable tag filtering",
        "es": "Habilitar filtro de etiquetas",
        "fi": "Ota tunnisteiden suodatus käyttöön",
        "fr": "Activer le filtrage par balises",
        "hi": "टैग फ़िल्टर करना सक्षम करें",
        "it": "Attiva filtro tag",
        "ja": "タグでの絞り込みを有効にする",
        "ko": "태그 필터링 사용",
        "ms": "Dayakan penapisan tag",
        "nb": "Aktiver taggfiltrering",
        "nl": "Filteren op tags inschakelen",
        "pt-BR": "Habilitar filtragem de tag",
        "pt-PT": "Ativar filtragem por etiqueta",
        "sv": "Aktivera taggfiltrering",
        "th": "เปิดใช้การกรองแท็ก",
        "zh-CN": "启用标签筛选",
        "zh-TW": "啟用標籤篩選功能"
      }
    },
    {
      "type": "header",
      "content": {
        "da": "Produkter",
        "de": "Produkte",
        "en": "Products",
        "es": "Productos",
        "fi": "Tuotteet",
        "fr": "Produits",
        "hi": "उत्पाद",
        "it": "Prodotti",
        "ja": "商品管理",
        "ko": "제품",
        "ms": "Produk",
        "nb": "Produkter",
        "nl": "Producten",
        "pt-BR": "Produtos",
        "pt-PT": "Produtos",
        "sv": "Produkter",
        "th": "สินค้า",
        "zh-CN": "产品",
        "zh-TW": "產品"
      }
    },
    {
      "type": "select",
      "id": "collection_products_grid",
      "label": {
        "da": "Gittertypografi",
        "de": "Rasterstil",
        "en": "Grid style",
        "es": "Estilo de cuadrícula",
        "fi": "Ruudukon tyyli",
        "fr": "Style de grille",
        "hi": "ग्रिड स्टाइल",
        "it": "Stile griglia",
        "ja": "グリッドスタイル",
        "ko": "그리드 스타일",
        "ms": "Gaya grid",
        "nb": "Rutenettstil",
        "nl": "Rasterstijl",
        "pt-BR": "Estilo da grade",
        "pt-PT": "Estilo da grelha",
        "sv": "Rutnätsstil",
        "th": "สไตล์กริด",
        "zh-CN": "网格样式",
        "zh-TW": "網格樣式"
      },
      "options": [
        {
          "value": "collage",
          "label": {
            "da": "Collage",
            "de": "Collage",
            "en": "Collage",
            "es": "Collage",
            "fi": "Kollaasi",
            "fr": "Collage",
            "hi": "कोलाज",
            "it": "Collage",
            "ja": "コラージュ",
            "ko": "콜라주",
            "ms": "Kolaj",
            "nb": "Fotomontasje",
            "nl": "Collage",
            "pt-BR": "Colagem",
            "pt-PT": "Colagem",
            "sv": "Kollage",
            "th": "ภาพตัดแปะ",
            "zh-CN": "拼贴画",
            "zh-TW": "拼貼"
          }
        },
        {
          "value": "grid",
          "label": {
            "da": "Gitter",
            "de": "Raster",
            "en": "Grid",
            "es": "Cuadrícula",
            "fi": "Ruudukko",
            "fr": "Grille",
            "hi": "ग्रिड",
            "it": "Griglia",
            "ja": "グリッド",
            "ko": "그리드",
            "ms": "Grid",
            "nb": "Rutenett",
            "nl": "Raster",
            "pt-BR": "Grade",
            "pt-PT": "Grelha",
            "sv": "Rutnät",
            "th": "กริด",
            "zh-CN": "网格",
            "zh-TW": "網格"
          }
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "product_vendor_enable",
      "label": {
        "da": "Vis produktleverandør",
        "de": "Produktverkäufer anzeigen",
        "en": "Show product vendor",
        "es": "Mostrar proveedor del producto",
        "fi": "Näytä tuotteen myyjä",
        "fr": "Afficher le distributeur du produit",
        "hi": "उत्पाद विक्रेता दिखाएं",
        "it": "Indica fornitore prodotto",
        "ja": "商品の販売元を表示する",
        "ko": "제품 공급 업체 표시",
        "ms": "Tunjukkan vendor produk",
        "nb": "Vis produktleverandør",
        "nl": "Productleverancier weergeven",
        "pt-BR": "Exiba o fornecedor do produto",
        "pt-PT": "Mostrar o fornecedor do produto",
        "sv": "Visa produktsäljare",
        "th": "แสดงผู้ขายสินค้า",
        "zh-CN": "显示产品厂商",
        "zh-TW": "顯示產品廠商"
      }
    }
  ]
}
{% endschema %}